# --- Environment & Secrets ---
.env
.env.local
.secrets

# --- Development Environments ---
.devenv.flake.nix
.devenv/

# --- Configuration & Tooling ---
.ansible/
.pre-commit-config.yaml

# --- Python ---
*.pyc
__pycache__/

# --- Caches ---
.cache/

# --- Ansible ---
*.retry
